body {
  background-color: rgb(221, 39, 39);
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1000px;
  background-color: #000000;
  border-radius: 4px;
  padding: 20px 200px;
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.27);
  margin: 5% auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 20px;
  border-radius: 4px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.date {
  color: gray;
  margin-left: 20px;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.dropdown {
  color: white;
  margin-left: 5px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 60px;
  background: #000;
  color: white;
}

.left {
  width: 55%;
}

.tags {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 10px;
}

.main-title {
  font-size: 64px;
  margin: 10px 0;
}

.meta {
  color: #bbb;
  font-size: 16px;
  margin: 10px 0;
}

.desc {
  color: #aaa;
  font-size: 15px;
  margin: 20px 0;
  line-height: 1.5;
}

.buttons {
  margin-top: 20px;
}

.stream-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.all-episodes {
  background: black;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  font-weight: bold;
  cursor: pointer;
}

.right {
  width: 40%;
  position: relative;
  text-align: center;
}

.watch-trailer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.play-icon {
  font-size: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.watch-trailer p {
  margin-top: 10px;
}

.popular {
  background: #000;
  color: white;
  padding: 30px 60px;
}

.popular h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.show-list {
  display: flex;
  gap: 20px;
}

.show-card img {
  width: 120px;
  height: 80px;
  object-fit: cover;
}

.show-card p {
  text-align: center;
  margin-top: 5px;
}